* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'GoogleSansCode';
  --gray-border: rgba(138, 138, 138, 0.15);
  --gray-bg: rgba(242, 243, 244, 1);
  --border-radius: 6px;
  --border-radius-sm: 3px;
  --shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.root {
  width: 100vw;
  height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
}
